@import './modules/color.scss'; 
// @use 'typograph';
// @use 'form';
@import './partials/heroImage.scss';
@import './partials/tips.scss';
@import './partials/form.scss';
// @import 'modules';


html{
    font-size: 100%;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: $specialGreen;
}
body{
    margin:0;
    padding:0;
    line-height:1.3;
    font-family: sans-serif;
}













