// because this part is also doing the card part
// css is totally same with todayPlan.scss


.exerciseSuggest{
    background-color: $specialGreen;
    margin-left: 5rem;
    margin-right: 5rem;


    


    // keep distance with other part
    h1{
        margin-top: 10rem;
        padding-top: 2rem;
        color:white;
    }

    #suggestList{
        display: grid;
        justify-content: space-around;
        
        // repeat three Tips and give all size 1fr.
        grid-template-columns: repeat(4,1fr);

        // Distance between each grid
        gap: 4rem;
        
        .suggestItem{
            // padding: 2rem;
            // display: block;

            // make card stay in center
            margin: 1rem auto;
            margin-right:40px;
            border-radius: 12px;

            background: white;

            box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
            overflow: hidden;
            transition: all 0.3s linear;

            &:hover{
                box-shadow: 2px 8px 45px rgba(0, 0, 0, .25); 
            }
        }

        h1{
            // cancel the inside effect 
            margin-top: 0rem;

            // make content go center
            text-align: center;
            padding: 2rem 2.5rem;
            background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
            // background-color: $specialGreen;
            font-size: 1.5rem;
            color: white;
        }

        strong{
            font-size: 1.5rem;
            color:$specialGreen;
        }

        p{
            color:black;
            text-align: center;
            font-size: 1rem;
            padding: 2em;
            margin: 0;
        }

        .AddPlanBtn{
            // make sure in center
            width: 90%;
            display: block;
            margin: 1em auto;
            height: 60px;
            border: 2px solid #666;
            border-radius: 12px;
            border-color: transparent;
            background-color: $specialGreen;
            color: white;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
    }

}