// Exercise Form part

form {
    // set whole form style, color, font and size.
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;

    color:$specialGreen;
    background-color:  hsl(0,0%,98%);
    margin: auto;
    border: 2px solid $specialGreen;
    padding: 2em 1em;
    

    // set title size
    &_Header{
        h1{
            font-size: 2rem;
        }
    }

    // set submit form button's color,position and style.
    #submitButton input[type="submit"] {
        // color
        color:white;
        background-color:$specialGreen;
        border-color: transparent;

        // position
        margin-top: 0.5rem;
        border-radius: 5px;

        // set mouse type and change when mouse on it
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            transition:all 0.3s ease-in-out; 
            transform: translateY(-2px);
            
            box-shadow: 2px 4px 10px rgba(0, 0, 0, .15);
            color:white;
            background-color:$specialRed;
        }
    }

    // set form inside much tidy instead of narrow
    .form-row {
       
        display: flex;
        justify-content: flex-end;
        padding: 0.5em;

         
        label {
            width: 100px;
        }

        input,
        select {
        padding: 0.5em;
        flex-grow: 1;
        }
    }

    
}



