// Totally set some fundation code
.HeroImage{
    margin: 0;
    height: 100%;
}

// Image part and brand part and text part setting
.HeroImage-Img{  
    // import images 
    background-image: url(../images/thumbnails/HeroImage.jpg);

    // set image size(full) 
    margin-bottom: 0px;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    // set brand element Fitness++
    h1{
        // set brandElement position and size
        text-align: left;
        font-size:2rem;
        margin-top: 0;
        padding-top:3%;
        margin-left:5%;

        // set brandElement color;
        color:$specialRed;
    }


    // Text part inside Image setting 
    .HeroImgage-Container{

        // text Position 
        text-align: center;
        position: absolute;
        width: 100%;
        height:auto;
        margin-top:300px;
        margin-left:0;

        // text Color
        background-color: rgba(0, 0, 0, 0.1);
        color:white;

        // Typography
        font-family: "sans-serif";
    
        // Set inside text size, position and type
        h1{
            background-color: transparent ;
            text-align:center;
            font-size: 7em;
            font-family: "Dancing Script", "sans-serif";
            margin-bottom: -20px;
        }
        h2{
            font-size: 2em;
            font-weight: 400;
            
        }
        p{
            margin-left:10%;
            margin-right:10%;
            margin-top: -20px;
            font-size: 1em;
        }
        
    }
}

