.Tips{
    background-color: hsl(0,0%,98%);
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.Tips{
    h1{
        text-align: center;
        color:$specialGreen;
        font-size:2rem;
    }

    &_content{

    }

    &_grid{
        display: grid;
        // repeat three Tips and give all size 1fr.
        grid-template-columns: repeat(3,1fr);
        // Distance between each grid
        gap: 4rem;
        
    }

    &_item{
       border-radius: 0.5rem;
        // overflow make sure actual conner occurs   
       overflow: hidden;

        // make the shadow on every tips card    
       box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);

        //make the anime more smooth 
       transition:all 0.3s ease-in-out; 

        //make responsive, mouse on it, it large    
       &:hover{
        transform: scale(1.05);
       }
    }

    &_image{
        height:12.5rem;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }

    &_text{
        padding:1rem 2rem;
        text-align: center;
        color:$specialGreen;
    }

    &_title{
        font-size: large;
    }

    &_button{
        margin-top: 0.5rem;
        color:white;
        background-color:$specialGreen;
        border-radius: 5px;
        border-color: transparent;
        &:hover{
            color:white;
            background-color:$specialRed;
           }
        
    }

    &_description{

    }

    // DetailClear button
    #Tips_detailClear{

        // make button go center and add styles
        width: 80%;
        display: block;
        margin: 1em auto;
        height: 60px;
        
        border: 2px solid #666;
        border-radius: 12px;
        border-color: transparent;

        background-color: $specialGreen;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        // make button anime
        &:hover {
            transition:all 0.3s ease-in-out; 
            transform: translateY(-2px);
            box-shadow: 2px 4px 10px rgba(0, 0, 0, .15);

            color:white;
            background-color:red;
        }

        &:active,
        &:focus {
            outline: 0;
        }
    }

    &_detail{
        list-style-type: none;
        text-align: center;
        padding: 5%;
        border: 1px solid $specialGreen;
        border-radius: 4px;
        font-size: 20px;
        p{
            strong{
                color:$specialGreen
            }
        }
    }
}